.row {
    margin: 50px 350px 100px 350px;

}

.row .col-md-8 {
    border: 1.5px solid #bbb;
    border-radius: 10px;
}

.col-md-8 h2 {
    margin-top: 30px;
}

h2,
h6 {
    text-align: center;
}

h6 {
    margin-top: 20px;
    margin-bottom: 40px;
}


.google {
    height: 30px;
    width: 20px;
}

.btn-light {
    margin-top: 20px;
}

.form-check a {
    text-decoration: none;
    padding-left: 199px;
}

.btn-light a {
    text-decoration: none;
}

.kotak-login {
    border: 2px;
}

.form-check-label {
    margin-bottom: 20px;
}